# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/

# IDE
.vscode/
*.swp
*.swo

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# Misc
*.o
*.a
*.so
*.dylib
